@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.peter-parker {
  color: orange;
}
section {
  margin-bottom: 130px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color: gray;
  font-weight: 500;
  word-spacing: 2px;
}
.top-bar {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.btn {
  color: white;
  background-color: black;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 3px;
  background: linear-gradient(45deg, lightsalmon, tomato);
}
.half-width {
  width: 50%;
  padding: 0 100px;
}
.half-width img {
  width: 110%;
}
.second-bar {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}
h4 {
  color: orange;
  font-size: 20px;
}
.experience-area {
  display: flex;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-stack {
  border-image: linear-gradient(180deg, rgb(241, 212, 206), rgb(216, 5, 5));
  border-image-slice: 1;
}
#baby-web {
  border-image: linear-gradient(180deg, cyan, blue);
  border-image-slice: 1;
}
.full-stack-h1 {
  font-size: 37px;
}
.experience-items {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 30px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  border-left: 7px solid;
}
.footer {
  text-align: center;
}
